/* flex helpers */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-between {
    justify-content: space-between;
}


.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.center {
    align-items: center;
    justify-content: center;
}