.contact-edit {
    margin-block-end: 1em;
}

.contact-edit>h3 {
    align-self: flex-start;
    margin-block-end: 1.2em;
}

.input-div {
    align-items: flex-start;
}

.contact-edit-form {
    gap: 1.5em;
}

.contact-edit-img {
    object-fit: contain;
    height: 11.125em;
    width: auto;
    border-radius: 50%;
    background-color: rgba(240, 245, 255, 0.589)
}

.contact-edit-btn {
    padding-inline: 3em;
    font-size: 1em;
    align-self: center;
    background-color: cornflowerblue;
    color: bisque;
}

.img-and-input-div {
    gap: 1.5em;
}

.forms-div {
    width: 50%;
    max-width: 18.75em;

    gap: 1em;
}

.img-and-input-div input#contact-phone {
    max-width: 6.25em
}

@media(width < 500px) {
    .contact-edit-form {
        gap: 2.5em;
    }

    .img-and-input-div {
        flex-direction: column;
        gap: 2.5em;
    }

    .forms-div {
        /* align-self: center; */
        width: auto;
        max-width: 90vw;
    }

    .contact-edit-img {
        align-self: center;
        height: auto;
        width: 195px;
    }
}