.details-actions {
    margin-block-end: 0.5em;
}

.contact-details {
    flex-direction: column;
    gap: 1.2em;
}

.details-section img {
    object-fit: contain;
    align-self: center;

    border-radius: 50%;
    background-color: rgba(240, 245, 255, 0.589);

    width: auto;
    max-width: 80vw;
}

.contact-details h2:first-of-type {
    margin-block-start: 0;
}

.details-section span {
    font-weight: lighter;
}

@media(width > 600px) {
    .contact-details {
        flex-direction: row;
    }

    .details-section img {
        height: 8em;
    }
}