.input-div {
    align-items: flex-start;
}

.contact-edit-form {
    gap: 1.5em;
}

.contact-edit-img {
    object-fit: contain;
    height: auto;
    border-radius: 50%;
    background-color: rgba(240, 245, 255, 0.589)
}

.contact-edit-btn {
    padding-inline: 3em;
    font-size: 1em;
    align-self: center;
    background-color: cornflowerblue;
    color: bisque;
}

.img-and-input-div,
.forms-div {
    gap: 1.5em;
}

@media(width < 600px) {
    .img-and-input-div {
        flex-direction: column;
    }

    .contact-edit-form img {
        align-self: center;
        max-width: 100px;
    }   
}